body {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}
h1 {
    font-size: 6.5vw;
    margin: 20px;
    font-family: 'Berkshire Swash', sans-serif;
    background: -webkit-linear-gradient(#0bb1d3, #9f2fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
svg {
    width: 180px;
    height: 180px;
}
.section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-section {
    padding-top: 10px;
    padding-bottom: 10px;
}
.section-title {
    font-family: 'Bellota', sans-serif;
    color: orangered;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.section-text {
    font-family: 'Bellota', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
}
.content, .item {
    position: relative;
    overflow: hidden;
}
.item {
    width: 31.66667vw;
    height: 31.66667vw;
    padding: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(100, 0, 100, 0.6)
    );
    border-radius: 30px;
    height: 100%;
    width: 100%;
}
.day, .index {
    position: absolute;
    top: 0;
    z-index: 30;
}
.index {
    font-family: 'Rajdhani', serif;
    font-size: 50px;
    font-weight: 600;
    background-color: rgba(0, 100, 200, 0.3);
    color: hsla(0,0%,100%,.9);
    min-width: 25%;
    right: 0;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.day {
    font-family: 'Mr Bedfort', sans-serif;
    font-size: 31vw;
    font-weight: bolder;
    color: rgba(0, 0, 100, 0.15);
}
.dayName, .fajr, .maghrib {
    position: absolute;
    font-family: 'Arial' serif;
}
.dayName {
    font-family: 'Rajdhani', serif;
    font-weight: 600;
    font-size: 50px;
    background-color: rgba(0, 0, 100, 0.3);
    color: hsla(0,0%,100%,.9);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 35%;
    bottom: 12%;
    left: 0;
    padding: 4px 41px;
    z-index: 20;
}
.fajr, .maghrib {
    font-family: 'Rajdhani', serif;
    font-weight: 600;
    font-size: 120px;
    color: hsla(0,0%,100%,.9);
    z-index: 99;
}
.fajr {
    top: -100%;
}
.maghrib {
    bottom: -100%;
}
.content:hover .index {
    animation: hoverindex;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes hoverindex {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}
.content:hover .day {
    animation: hoverday;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes hoverday {
    0% {
        transform: scale(1);
        color: rgba(0, 0, 100, 0.15);
    }
    100% {
        top: -150%;
        color: hsla(0,0%,100%,.1);
        transform: rotate(45deg);
    }
}
.content:hover .dayName {
    animation: hoverdayname;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes hoverdayname {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
.content:hover .fajr {
    animation: hoverfajr;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}
@keyframes hoverfajr {
    0% {
        top: -100%;
    }
    100% {
        top: 9%;
        color: rgba(0, 0 , 0, 0.7);
    }
}
.content:hover .maghrib {
    animation: hovermaghrib;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}
@keyframes hovermaghrib {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 9%;
        color: rgba(0, 0 , 0, 0.7);
    }
}
footer {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

footer a {
    display: inline-block;
    font-size: 40px;
    text-decoration: underline;
    color: #00f;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

.bg-green {
    background-color: green;
}
.bg-red {
    position: absolute;
    background-color: rgba(228, 8, 8, 1);
    z-index: 10000;
}
@media only screen and (max-width: 600px) {
    header svg {
        height: auto;
    }
    .section {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .item {
        width: 100vw;
        height: 100vw;
    }
    .day {
        font-size: 90vw;
    }
    .section-title {
        font-size: 20px;
    }
    .section-text {
        font-size: 12px;
    }
    .bg-green {
        background-color: green;
    }
    .bg-red {
        background: red;
    }
    footer {
        padding-top: 20px;
    }
    footer a {
        font-size: 20px;
    }
    .footer-section {
        margin-bottom: 0;
    }
}